// media

$screen-xxs: "(max-width : 480px)";
$screen-xs: "(max-width : 767px)";
$screen-sm: "(max-width : 991px)";
$screen-md: "(max-width : 1199px)";
$screen-lg: "(min-width: 1200px)";

// colors

$whiteColor: #fff;
$darkBlueColor: #003962;
$lightBlueColor: #81a3b6;
$lightGreyColor: #d6d6d6;
$greyColor: #7e7e7e;
$menuBgColor: #e1e8ee;
$yellowColor: #fcd301;
